<a href="https://colab.research.google.com/github/olyaee/Mnist/blob/master/data_split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from keras.utils.np_utils import to_categorical
from sklearn.model_selection import train_test_split
import pickle

**Spliting the training data**
===============================
Here we split train data to train and validation data. 
Since we want to have the same train and validation data for every model we do it in a seprate notebook and store the results as pickle file.

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
#read the data using pandas library
train = pd.read_csv("./drive/My Drive/Colab Notebooks/Data/train.csv")
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
test= pd.read_csv("./drive/My Drive/Colab Notebooks/Data/test.csv")
print(test.shape)
test.head()

(28000, 784)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [0]:
x_train = (train.iloc[:,1:].values).astype('float32') # all pixel values
y_train = (train.iloc[:,0].values).astype('int32') # only labels i.e targets digits
x_test = test.values.astype('float32')

In [0]:
# Set the random seed
random_seed = 2
# Split the train and the validation set for the fitting
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=random_seed)

In [0]:
with open('./drive/My Drive/Colab Notebooks/Data/x_train.pkl', 'wb') as output:
  pickle.dump(x_train, output, pickle.HIGHEST_PROTOCOL)

with open('./drive/My Drive/Colab Notebooks/Data/x_val.pkl', 'wb') as output:
  pickle.dump(x_val, output, pickle.HIGHEST_PROTOCOL)

with open('./drive/My Drive/Colab Notebooks/Data/y_train.pkl', 'wb') as output:
  pickle.dump(y_train, output, pickle.HIGHEST_PROTOCOL)
  
with open('./drive/My Drive/Colab Notebooks/Data/y_val.pkl', 'wb') as output:
  pickle.dump(y_val, output, pickle.HIGHEST_PROTOCOL)